<h1>Installing Dependencies</h1>

In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC46\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC46\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC46\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC46\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

<h1>Importing Libraries</h1>

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

<h1>Creating DataFrame</h1>

In [6]:
birds = pd.read_csv("penguins.csv")

<h1>Calling DataFrame</h1>

In [7]:
birds

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Checking Information</h1>

In [8]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

<h1>Describe the Data</h1>

In [9]:
birds.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [10]:
birds.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>Checking Null Values</h1>

In [11]:
birds.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

<h1>Checking the total sum of Null Values</h1>

In [12]:
birds.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [13]:
birds['bill_length_mm'].mean()

np.float64(43.9219298245614)

<h1>Converting the Null Values</h1>

In [14]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [15]:
birds['bill_depth_mm'] = birds['bill_depth_mm'].fillna(birds['bill_depth_mm'].mean())

In [16]:
birds['flipper_length_mm'] = birds['flipper_length_mm'].fillna(birds['flipper_length_mm'].mean())

In [17]:
birds['body_mass_g'] = birds['body_mass_g'].fillna(birds['body_mass_g'].mean())

In [18]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [19]:
birds.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>Changing Datatype</h1>

In [20]:
birds['species'] = birds['species'].astype('category')
birds['sex'] = birds['sex'].astype('category')
birds['island'] = birds['island'].astype('category')

In [21]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    int64
dtypes: category(3), float64(4), int64(1)
memory usage: 15.0 KB

<h1>Does Gentoo lives on island Dream</h1>

In [22]:
birds['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: category
Categories (3, object): ['Biscoe', 'Dream', 'Torgersen']

In [23]:
gentoo_dream = birds[(birds['species'] == 'Gentoo') & (birds['island'] == "Dream")]

In [24]:
gentoo_dream

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1>Does Gentoo lives on island Biscoe</h1>

In [25]:
gentoo_biscoe = birds[(birds['species'] == 'Gentoo') & (birds['island'] == "Biscoe")]

In [26]:
gentoo_biscoe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.10000,13.20000,211.000000,4500.000000,female,2007
153,Gentoo,Biscoe,50.00000,16.30000,230.000000,5700.000000,male,2007
154,Gentoo,Biscoe,48.70000,14.10000,210.000000,4450.000000,female,2007
155,Gentoo,Biscoe,50.00000,15.20000,218.000000,5700.000000,male,2007
156,Gentoo,Biscoe,47.60000,14.50000,215.000000,5400.000000,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009
272,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,female,2009
273,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009
274,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,female,2009
275,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009

<h1>Does Gentoo lives on island Torgersen</h1>

In [27]:
gentoo_torgersen = birds[(birds['species'] == 'Gentoo') & (birds['island'] == "Torgersen")]

In [28]:
gentoo_torgersen

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1 style='color:green'> #1 It seems that Gentoo only lives in Biscoe</h1>

<h1> Does Adelie lives on island Torgersen </h1>

In [29]:
birds['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: category
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [30]:
adelie_torgersen = birds[(birds['species'] == 'Adelie') & (birds['island'] == "Torgersen")]

In [31]:
adelie_torgersen

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
5,Adelie,Torgersen,39.30000,20.60000,190.000000,3650.000000,male,2007
6,Adelie,Torgersen,38.90000,17.80000,181.000000,3625.000000,female,2007
7,Adelie,Torgersen,39.20000,19.60000,195.000000,4675.000000,male,2007
8,Adelie,Torgersen,34.10000,18.10000,193.000000,3475.000000,male,2007
9,Adelie,Torgersen,42.00000,20.20000,190.000000,4250.000000,male,2007
10,Adelie,Torgersen,37.80000,17.10000,186.000000,3300.000000,male,2007
11,Adelie,Torgersen,37.80000,17.30000,180.000000,3700.000000,male,2007
12,Adelie,Torgersen,41.10000,17.60000,182.000000,3200.000000,female,2007
13,Adelie,Torgersen,38.60000,21.20000,191.000000,3800.000000,male,2007
14,Adelie,Torgersen,34.60000,21.10000,198.000000,4400.000000,male,2007
15,Adelie,Torgersen,36.60000,17.80000,185.000000,3700.000000,female,2007
16,Adelie,Torgersen,38.70000,19.00000,195.000000,3450.000000,female,2007
17,Adelie,Torgersen,42.50000,20.70000,197.000000,4500.000000,male,2007
18,Adelie,Torgersen,34.40000,18.40000,184.000000,3325.000000,female,2007
19,Adelie,Torgersen,46.00000,21.50000,194.000000,4200.000000,male,2007
68,Adelie,Torgersen,35.90000,16.60000,190.000000,3050.000000,female,2008
69,Adelie,Torgersen,41.80000,19.40000,198.000000,4450.000000,male,2008
70,Adelie,Torgersen,33.50000,19.00000,190.000000,3600.000000,female,2008
71,Adelie,Torgersen,39.70000,18.40000,190.000000,3900.000000,male,2008
72,Adelie,Torgersen,39.60000,17.20000,196.000000,3550.000000,female,2008
73,Adelie,Torgersen,45.80000,18.90000,197.000000,4150.000000,male,2008
74,Adelie,Torgersen,35.50000,17.50000,190.000000,3700.000000,female,2008
75,Adelie,Torgersen,42.80000,18.50000,195.000000,4250.000000,male,2008
76,Adelie,Torgersen,40.90000,16.80000,191.000000,3700.000000,female,2008
77,Adelie,Torgersen,37.20000,19.40000,184.000000,3900.000000,male,2008
78,Adelie,Torgersen,36.20000,16.10000,187.000000,3550.000000,female,2008
79,Adelie,Torgersen,42.10000,19.10000,195.000000,4000.000000,male,2008
80,Adelie,Torgersen,34.60000,17.20000,189.000000,3200.000000,female,2008
81,Adelie,Torgersen,42.90000,17.60000,196.000000,4700.000000,male,2008
82,Adelie,Torgersen,36.70000,18.80000,187.000000,3800.000000,female,2008
83,Adelie,Torgersen,35.10000,19.40000,193.000000,4200.000000,male,2008
116,Adelie,Torgersen,38.60000,17.00000,188.000000,2900.000000,female,2009
117,Adelie,Torgersen,37.30000,20.50000,199.000000,3775.000000,male,2009
118,Adelie,Torgersen,35.70000,17.00000,189.000000,3350.000000,female,2009
119,Adelie,Torgersen,41.10000,18.60000,189.000000,3325.000000,male,2009
120,Adelie,Torgersen,36.20000,17.20000,187.000000,3150.000000,female,2009
121,Adelie,Torgersen,37.70000,19.80000,198.000000,3500.000000,male,2009
122,Adelie,Torgersen,40.20000,17.00000,176.000000,3450.000000,female,2009
123,Adelie,Torgersen,41.40000,18.50000,202.000000,3875.000000,male,2009
124,Adelie,Torgersen,35.20000,15.90000,186.000000,3050.000000,female,2009
125,Adelie,Torgersen,40.60000,19.00000,199.000000,4000.000000,male,2009
126,Adelie,Torgersen,38.80000,17.60000,191.000000,3275.000000,female,2009
127,Adelie,Torgersen,41.50000,18.30000,195.000000,4300.000000,male,2009
128,Adelie,Torgersen,39.00000,17.10000,191.000000,3050.000000,female,2009
129,Adelie,Torgersen,44.10000,18.00000,210.000000,4000.000000,male,2009
130,Adelie,Torgersen,38.50000,17.90000,190.000000,3325.000000,female,2009
131,Adelie,Torgersen,43.10000,19.20000,197.000000,3500.000000,male,2009

<h1>Does Adelie lives on island Dream</h1>

In [32]:
adelie_dream = birds[(birds['species'] == 'Adelie') & (birds['island'] == "Dream")]

In [33]:
adelie_dream

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
35,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007
36,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007
37,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007
38,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007
39,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007
40,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007
41,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007
42,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007
43,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007
44,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007
45,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007
46,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007
47,Adelie,Dream,37.5,18.9,179.0,2975.0,male,2007
48,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007
49,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007
84,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008
85,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008
86,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008
87,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008
88,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008
89,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008
90,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008
91,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
92,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008
93,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
94,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008
95,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
96,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008
97,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
98,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
99,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
132,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009
133,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
134,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009
135,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009
136,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009
137,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009
138,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009
139,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009
140,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009
141,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009
142,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009
143,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009
144,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009
145,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009
146,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1>Does Adelie lives on island Biscoe</h1>

In [34]:
adelie_biscoe = birds[(birds['species'] == 'Adelie') & (birds['island'] == "Biscoe")]

In [35]:
adelie_biscoe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
26,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
29,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007
50,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
52,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008
53,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
55,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
56,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
57,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
59,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
60,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009
101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
102,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009
103,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
104,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009
105,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009
106,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009
107,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009
108,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009
109,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
110,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
111,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
112,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009
113,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
114,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009
115,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009

<h1 style='color:green'> #2 It seems that Adelie Lives in all 3 Islands</h1>

<h1>Does Chinstrap lives on island Biscoe</h1>

In [36]:
chinstrap_biscoe = birds[(birds['species'] == 'Chinstrap') & (birds['island'] == "Biscoe")]

In [37]:
chinstrap_biscoe

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1>Does Chinstrap lives on island Dream </h1>

In [38]:
chinstrap_dream = birds[(birds['species'] == 'Chinstrap') & (birds['island'] == "Dream")]

In [39]:
chinstrap_dream

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Does Chinstrap lives in island Torgersen </h1>

In [40]:
chinstrap_torgersen = birds[(birds['species'] == 'Chinstrap') & (birds['island'] == "Torgersen")]

In [41]:
chinstrap_torgersen

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1 style='color:green'> #3 It seems that Chinstrap only lives on Bicoe and Dream</h1>

<h1 style='color:green'> #4 Average Weight of Gentoo </h1>

In [42]:
birds['wkilo'] = birds['body_mass_g'] / 1000

In [43]:
gentoo_avg_weight = np.round(birds[birds['species'] == 'Gentoo']['wkilo'].mean(),1)

In [44]:
gentoo_avg_weight

np.float64(5.1)

<h1 style='color:green'> #5 Average Weight of Adelie </h1>

In [45]:
adelie_avg_weight = np.round(birds[birds['species'] == 'Adelie']['wkilo'].mean(),1)

In [46]:
adelie_avg_weight

np.float64(3.7)

<h1 style='color:green'> #6 Average Weight of Chinstrap </h1>

In [47]:
chinstrap_avg_weight = np.round(birds[birds['species'] == 'Chinstrap']['wkilo'].mean(),1)

In [48]:
chinstrap_avg_weight

np.float64(3.7)

<h1 style='color:green'> #7 What species is the Heaviest. </h1>

In [49]:
heaviest_species = np.round(birds.groupby(['island','species'])['wkilo'].mean(),1)

C:\Users\LAB4-StudentPC46\AppData\Local\Temp\ipykernel_18840\3349110742.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  heaviest_species = np.round(birds.groupby(['island','species'])['wkilo'].mean(),1)

In [50]:
heaviest_species.unstack()

species    Adelie  Chinstrap  Gentoo
island
Biscoe        3.7        NaN     5.1
Dream         3.7        3.7     NaN
Torgersen     3.7        NaN     NaN

<h1 style="color:green"> Gentoo is the Heaviest Species </h1>

<h1 style="color:green"> #8 What is the Heaviest Male in Year 2007-2009 </h1>

In [51]:
birds_agg3 = birds.groupby(['species','island','sex','year']).size()

C:\Users\LAB4-StudentPC46\AppData\Local\Temp\ipykernel_18840\358138408.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg3 = birds.groupby(['species','island','sex','year']).size()

In [52]:
birds_agg3.unstack()

year                        2007  2008  2009
species   island    sex
Adelie    Biscoe    female     5     9     8
                    male       5     9     8
          Dream     female     9     8    10
                    male      11     8    10
          Torgersen female     8     8     8
                    male      12     8     8
Chinstrap Biscoe    female     0     0     0
                    male       0     0     0
          Dream     female    13     9    12
                    male      13     9    12
          Torgersen female     0     0     0
                    male       0     0     0
Gentoo    Biscoe    female    16    22    20
                    male      18    24    24
          Dream     female     0     0     0
                    male       0     0     0
          Torgersen female     0     0     0
                    male       0     0     0

<h1 style='color:green'> #9 Sex Weight Comparison of Adelie, Male is heavier than Female </h1>
<h1 style='color:green'> #10 Sex Weight Comparison of Chinstrap, Male is heavier than Female </h1>
<h1 style='color:green'> #11 Sex Weight Comparison of Gentoo, Male is heavier than Female </h1>
<h1 style='color:green'> We see that Male is heavier than Female </h1>

In [53]:
birds_agg4 = np.round(birds.groupby(['species','sex'])['wkilo'].mean(),1)

C:\Users\LAB4-StudentPC46\AppData\Local\Temp\ipykernel_18840\203187124.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg4 = np.round(birds.groupby(['species','sex'])['wkilo'].mean(),1)

In [54]:
birds_agg4.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h1 style='color:green'> #12 Does Bill Depth has Correlation with Flipper Length </h1>

In [55]:
bill_flipper_corr = birds['bill_depth_mm'].corr(birds['flipper_length_mm'])

In [56]:
bill_flipper_corr

np.float64(-0.5838512164654122)

<h1 style='color:green'> Bill Depth has no Correlation with Flipper Length </h1>

<h1 style='color:green'> #13 Does Body Mass has Correlation with Bill Length </h1>

In [57]:
bill_body_corr = birds['body_mass_g'].corr(birds['bill_length_mm'])

In [58]:
bill_body_corr

np.float64(0.5951098244376305)

<h1 style='color:green'> Body Mass has Correlation with Bill Length </h1>

<h1 style='color:green'> #14 Does the Body Mass Affects the Sex of the Species </h1>

In [59]:
body_sex_corr = birds['body_mass_g'].corr()

TypeError: Series.corr() missing 1 required positional argument: 'other'

In [ ]:
birds.info()